In [ ]:
# 1
# be careful with indentation
if 1>10:
  print('[str]')
print('--str--')

In [ ]:
# 2
#  Using if else and elif
i = input('Enter the numer:')
i = int(i) 
if i>0:
  print('positive(+) integer.')
elif i<0:
  print('negative(-) integer.')
else:
  print('neutral(0).')

In [ ]:
# 3
#  Using 'in'

# with str
print('str' in 'string') # returns boolean result
print('str' in 'String') # case sencitive
print('Str' in 'string')

In [ ]:
# 4
# with list

my_list=['a','b','c','d','e']
print('a' in my_list)

In [ ]:
# 5
# with set

my_set={1,2,3,4,5}
print(3 in my_set)

In [ ]:
# 6
# with tuple

my_tuple=(0,1,2,3,4)
print(0 in my_tuple)

In [ ]:
# 7
# with dict

my_dict={
         'a':1,
         'b':2,
         'c':3,
         'd':4,
         'e':5
         }
print('c' in my_dict.keys())
print(3 in my_dict.values())

In [ ]:
# 8
#  using while loop in its simplest form
x=0
while x<5:
  print(x)
  # x=+1 is wrong
  x +=1

In [ ]:
# 9
# 'else clause with while
x=0
while x>5: # if the condition is never met
  print(x)
  x +=1
else:
  print('Oops!')

In [ ]:
# 10
#  Using 'break'
x = 0
while x < 100:
  print(x)
  x+=1
  if x==5:
    print('No 5 founded')
    break
print('looping done')

print('appart from the loop')

In [ ]:
# 11
# Using 'continue' to skip the rest of loop body
x = 0
while x < 5:
  x+=1
  if x == 3:
    continue
  print(x)

In [ ]:
# 12
# Using 'pass' to do nothing
x = 0
while x<5:
  x+=1
  if x == 3:
    pass
    # you need a block here
    # so if you have nothing to do,
    # just type 'pass' 
  print(x)

In [ ]:
# 13
# Using range
my_range= range(1,5)
print(str(my_range))
print(type(my_range))
for i in my_range:
  print(i)

range(1, 5)
<class 'range'>
1
2
3
4

In [ ]:
# 14
# Find the sum of all numbers below 1000, which are multiple by 3 or by 5.
sum = 0
for n in range(1,1000):
    if not(n%3) or not(n%5):
      sum+=n
print('sum = ',sum)

sum =  233168

In [ ]:
# 15
# Counting backwards
for x in range(10, 5, -1):  #(last,starts with,reduce)
  print(x)

10
9
8
7
6

In [ ]:
# 16
name = 'Coder'
name2 = 'John'
# Using string formatting
# concadination method
print('hello,'+name+'(1)')

# below is applicalbe only one obj

print('hello,',name)

# Using f'str' or string interpolation
print(f'hello,{name} using interpolation')

# Old style
print('hello, %s'% name + '(3)')

# New Style
print('Hello,{} ({})'.format(name,str(4)))

# Printing more then one args

# old way
print('hello,%s and % s' % (name,name2))

# new way
print('hello,{} and {}'.format(name,name2))

hello,Coder(1)
hello, Coder
hello,Coder using interpolation
hello, Coder(3)
Hello,Coder (4)
hello,Coder and John
hello,Coder and John

In [ ]:
# 17
# when the new style of string
# formatting can be very handy

a,b = 10,20
print('a+b=b+a')
print('{0}+{1}={1}+{0}'.format(
    a,b
    )
)
# {0} is replaced with a
# {1} is replaced with b
# but you only mention them once

a+b=b+a
10+20=20+10

In [ ]:
# 18
# Examinimg the third parameter of range()
r = range(1,10,2)
#       ^ 2 is a step
# let's convert into the list and print that
a = list(r)
print(a)
# Every second value will be printed

[1, 3, 5, 7, 9]

In [ ]:
# 19
# an example of using format
# with named args

# eg: first & last name
first_name = 'James'
last_name= 'Bond'
greeting='My name is {last}. {first} {last}'.format(
    first=first_name,
    last=last_name
    )
print(greeting)

My name is Bond. James Bond

In [ ]:
# 20
# Different varients of 
# variable name
 
# eg:first_name
 
firstname   = 'Coder' #(lowercase)
FIRSTNAME   = 'Coder' #(UPPERCASE)        ---> may be constant
first_name  = 'Coder' #(snake_case)
First_Name  = 'Coder' #(UPPER_SNAKE_CASE) ---> may be constant
firstName   = 'Coder' #(camelCase)        ---> javascript
FirstName   = 'Coder' #(PascalCase)       ---> java
firSTNamE   = 'Coder' #()
_first_name = 'Coder' #('_variable name' private variable in python's class)
sFirstName  = 'Coder' #(Hungarian)

In [ ]:
# 21
# for loop
for _ in range(5):
  print(_)

0
1
2
3
4

In [ ]:
# 22
# creating simple function
def greeting(name):
  print('hello,{}'.format(name))
 
greeting('coder')
greeting('python')

hello,coder
hello,python

In [ ]:
# 23
# Regular function
# def sqr(x):
#   return x**2

# lambda(inline function)
# Lambdas (or inline functions) are very handy 
# if the function body is short and simple. 
# You don't need to create a full function 
# using the "def" keyword. Use "lambda" instead, 
# followed by the argument and the function body.
sqr = lambda x:x**2 # (**) is defined as exponentiation(x^2) operator

print(sqr(2))

4

In [ ]:
# 24
# Floating point calculations
# are not always precise

# it works
a = 1.0 + 2.0 - 3.0
print(a)

from decimal import Decimal
b = Decimal('1.0') + Decimal('2.0') - Decimal('3.0')
print(b)

# it doesn't !
ans1= 0.1 + 0.2 - 0.3
print(ans1)

ans2 = Decimal('0.1') + Decimal('0.2') - Decimal('0.3')
print(ans2)

0.0
0.0
5.551115123125783e-17
0.0

In [ ]:
# 25
# going along a list backwards
list_25 = ['one', 'two', 'three']

print('method_1:')
for x in list_25[::-1]:
  print(x)
  
print('method_2:')
for x in reversed(list_25):
  print(x)

method_1:
three
two
one
method_2:
three
two
one

In [ ]:
# 26
#  be careful while reverse the list

list_26=['I','am','a','list']
reversed_list = reversed(list_26)
print(list_26)  # original order not broken

reverse_list = list_26.reverse()
print(list_26) # original order was broken

['I', 'am', 'a', 'list']
['list', 'a', 'am', 'I']

In [ ]:
# 27
# Creating simple Documentation:
def my_f(x):
  '''
  This is my function, 
  returns double value 
  of its argument
  '''
  return x * 2

print(my_f(2))
print(my_f.__doc__)

4

  This is my function,
  returns double value
  of its argument

In [ ]:
# 28
#  the global keyword 
n = 1

def inc_n():
  n += 1 # gives error because this n's life only inside the inc_n(),
  #  so, here is no init for n

print(n)
inc_n()
print(n)

1

UnboundLocalError: ignored

In [ ]:
# fix
n = 1

def inc_n():
  global n # by doing this 
  # we specify the above globaly initialized n = local n(which is inside the inc_n())
  n += 1

print(n) # before increment
inc_n()
print(n) # after increment

1
2

In [ ]:
# 29
# supplying default values for function args
def greet(name='Default'):
  print(f'hello,{name}')

greet('coder')
greet()
greet('MyName')

hello,coder
hello,Default
hello,MyName

In [ ]:
# 30
# A function that returns two values
def f():
  return 10,11

a,b=f()
print(a)
print(b)

# what if you only take one ?
c=f()
print(c)

10
11
(10, 11)

In [ ]:
# 31
def my_function(a, b):
  return a*b

# with arguments,(*args => arguments )
# you can not change their order,
# insteed of you should specify the arguments in order
# when calling a function
print("result = ",my_function(2,3)) 
print('a =',a)
print('b =',b)

# with named arguments, (**kwargs=> keyword arguments )
# you can change their order when
# calling a function
print("result = ",my_function(b=3,a=2))
print('a =',a)
print('b =',b)

result =  6
a = 10
b = 11
result =  6
a = 10
b = 11

In [ ]:
# 32
# args and kwargs
# args => arguments [] list
# kwargs => keyword arguments {} dict


# args
def my_demo(*args):
  print('args = ',args) # tuple
  for arg in args: # looping that list(args)
    print(arg)


# args-usage:
salary_expected = 10000
my_demo('Robert', 'Downey', 'Jr', 21, '2020-mar-19', '+17-83626413', salary_expected)


# kwargs
def my_demo_2(**kwargs):
  print('kwargs = ',kwargs)
  for item in kwargs.items(): # looping that dict(kwargs)
    print(item)

# kwargs-usage:
my_demo_2(
    first_name = 'Robert',
    middle_name = 'Downey',
    last_name = 'Jr',
    age=21,
    d_o_b='2020-mar-19',
    phno='+17-83626413',
    salary=salary_expected
)

args =  ('Robert', 'Downey', 'Jr', 21, '2020-mar-19', '+17-83626413', 10000)
Robert
Downey
Jr
21
2020-mar-19
+17-83626413
10000
kwargs =  {'first_name': 'Robert', 'middle_name': 'Downey', 'last_name': 'Jr', 'age': 21, 'd_o_b': '2020-mar-19', 'phno': '+17-83626413', 'salary': 10000}
('first_name', 'Robert')
('middle_name', 'Downey')
('last_name', 'Jr')
('age', 21)
('d_o_b', '2020-mar-19')
('phno', '+17-83626413')
('salary', 10000)

In [ ]:
# 33
# using args, kwargs and normal arguments 
# NOTE : args = parameters both are have same meaning

def my_demo_3(my_arg,*args,**kwargs):
  print('my_args = ',my_arg)
  print('args = ',args)
  print('kwargs = ',kwargs)

my_demo_3('my_arg_value', # my_arg
          'Robert',  # args
          'Downey',  # args
          'Jr',      # args
          age=21,                # kwargs
          d_o_b='2020-mar-19',   # kwargs
          phno='+17-83626413',   # kwargs
          salary=salary_expected # kwargs
        )

my_args =  my_arg_value
args =  ('Robert', 'Downey', 'Jr')
kwargs =  {'age': 21, 'd_o_b': '2020-mar-19', 'phno': '+17-83626413', 'salary': 10000}

In [ ]:
# 34
# let's try it in another way
my_argument = 'my argument value' # you can create like this n no of args
# for args
list_34 = [1,'this','is','list']
# for kwargs
dict_34 = {
     'first_name': 'Robert',
     'middle_name': 'Downey',
     'last_name': 'Jr',
     'age': 21,
     'd_o_b': '2020-mar-19',
     'phno': '+17-83626413',
     'salary': 10000
     }
#  using existing function
# my_demo_3(my_argument,list_34, dict_34) => if we pass like this then dict_34 will become an args 
my_demo_3(my_argument,list_34, dict_data=dict_34) #  do like this,because that is 'keword_arguments'

my_args =  my argument value
args =  ([1, 'this', 'is', 'list'],)
kwargs =  {'dict_data': {'first_name': 'Robert', 'middle_name': 'Downey', 'last_name': 'Jr', 'age': 21, 'd_o_b': '2020-mar-19', 'phno': '+17-83626413', 'salary': 10000}}

In [ ]:
# 35
# what if you want a function like
# that computes an area of 
# both square and rectangle
def area(width,height=None):
  if height == None:
    height = width
  return width * height

print(area(20))
print(area(20,30))

400
600

In [ ]:
# 36
# passing a list to a function
list_36=[1,2,3,4,5]

def f(x):
  print(x)
  x[2]='TWO'
  print(x)

f(list_36)

[1, 2, 3, 4, 5]
[1, 2, 'TWO', 4, 5]

In [ ]:
# 37
# a possible implementation
# of a non-recursive factorial
# calculaton for a positive ints

# eg: n = 5
# computation will be 5*4*3*2*1=120

def factorial(n):
  f = 1
  for m in range(1,n+1): # n+1 because the second parameter will be a limit in this
  # if we specify n insteed of n+1 then computation will perform only 4*3*2*1 = 24
    f*=m
  return f

print(factorial(5)) #120

120

In [ ]:
# 38
# computing a factorial 
# Using recursion

def factorial2():
  if n > 1:
    return n * factorial2(n-1)
  else:
    return 1

print(factorial(5))
print(factorial(1))

120
1

In [ ]:
# 39
# we can write if else in a single line

# regular work

# result = 'pass'
# if result == 'pass':
#   print('Ok')
# else:
#   print('Not Ok')

result ='fail'
res = 'Ok' if result == 'pass' else 'Not Ok'
print(res)

Not Ok

In [ ]:
# 40
# simple echo program 
# imagin like talking tom :)
while True:
  s=input() # to get input from user
  print(s)  # output

hi
hi
hello
hello

KeyboardInterrupt: ignored

In [ ]:
# 41
# error handling
while True:
  try:
    s=input()
    print(s)
  except:
    print('good bye :(')
    break

hello
hello
world
world
good bye :(

In [ ]:
# 42
# creating & writing txt file 
f = open('data.txt','w')
# or:
# f = open(file_name='data.txt',mood='w')
# w => create and write
# r => read(default)
# a => append
# x => create if not exist, else raise exception about the file exists
f.write( # we can specify multi line string by using single or double quots like below
'''
line 1
line 2     
line 3
'''
)
# Reading form a text file
for line in open('data.txt'):
  print(line,end='') # we should specify the end='' to skip the new line creation by print()

line 1
line 2
line 3

In [ ]:
# let's simplify the above code 
#  using 'with'
with open('data.txt','w') as f:
  f.write('hello,world') # the file is overwritten !
#  we don't need to close()

In [ ]:
# let's test the abive code
for line in open('data.txt','r'):
  print(line)

hello,world

In [ ]:
# 43
# Creating a class in python
class Animal:
  def talk(self): # self is the instance Object
    print('I am an animal')
  
# Creating an object to that class
animal1 = Animal()
animal1.talk()

# Creating another Animal
animal2 = Animal()
animal2.talk()

I am an animal
I am an animal

In [ ]:
# 44 
# Using attributes to keep data
# class
#    attribute
#    method


class Bird:
  def __init__(self,name): #Constructor
    self.name = name # class attribute
  def talk(self):    # class method
    print('my name is '+self.name)

parrot = Bird('Parrot')
parrot.talk()

my name is Parrot

In [ ]:
# 45
# Counting class objects
class Item:
  counter = 0 # class-level counter(Item.counter)
  def __init__(self):
    Item.counter+=1
    self.counter=Item.counter # instance-level attribute(self.counter)
  def my_number(self):
    print(self.counter)

for _ in range(5):
  objectN = Item() # looping to create n number of object to the class 
  print('My number is'+str(objectN.my_number()))

In [ ]:
# 46
# Adding annotation to a function


def power(a: int, b : int)->int:
  return a ** b

print(power(2,2))
print(power.__annotations__)

4
{'a': <class 'int'>, 'b': <class 'int'>, 'return': <class 'int'>}

In [ ]:
# 47
# Custom Object formating
class Values:
  def __init__(self,value):
    self.value = value

obj=Values(10)
print(obj)

<__main__.Values object at 0x7f88a54a26d8>

In [ ]:
class Values:

  def __init__(self,value):
    self.value = value

  def __str__(self):        #custom formating
    return str(self.value)

obj=Values(10)
print(obj)

10

In [ ]:
# 48
# Using iterators

list_48 = ['alpha','beta','gamma']

data = iter(list_48)
print('data = ',data)

a = next(data)
print('a = ',a)

b = next(data)
print('b = ',b)

c =  next(data)
print('c = ',c)

data =  <list_iterator object at 0x7f88a54a28d0>
a =  alpha
b =  beta
c =  gamma

In [ ]:
# 49
# Using yield
# This keyword, "yield", is maybe the least intuitive in Python.
# You place it where you would normally place a "return" in a function.
# But with "yield", the function can be converted into a generator object 
# that keeps its state between calls. In the given example, the f() function 
# returns (yields) another number from the range each time you call it. 
# The next time you call it, the "i" variable continues from where it was last time.

def f():
  for i in range(100):
    yield i 

g = f() # generator object

print(next(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))

0
1
2
3
4

In [ ]:
# 50
# what if we have like below:

g1 = f()
g2 = f()

print(next(g1))
print(next(g2))
print(next(g1))
print(next(g2))
print(next(g1))
print(next(g2))

0
0
1
1
2
2

In [ ]:
# 51
#  assert used to break the program 
#  if given data is wrong

def divide(x, y):
  assert y!=0 # validating
  return x/y

a = divide(100,10) # Ok
print(a)

b = divide(100,0) # Not Ok
print(b)

10.0

AssertionError: ignored

In [ ]:
# gererate a non-repeater random ints
from random import randint

data = set() # we are using set() to avoid the duplication 

n = 0
while n < 20:
  r = randint(0, 100)
  n+=1
  data.add(r)

print(len(data))
print(data)

19
{0, 98, 58, 37, 68, 69, 72, 73, 41, 10, 76, 46, 78, 16, 85, 24, 89, 26, 60}